* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
.header {
  font-size: larger;
  font-weight: 700;
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  padding: 10px;
  outline: none;
}
.title {
  font-size: medium;
  font-weight: 600;
}
